.Input{
	margin-bottom: 7px;
}
.Input input{
	display: block;
	box-sizing: border-box;
	float: left;
	padding: 4px;
	width: 100%;
	height: 32px;
	outline: none;
	transition: all 300ms ease-in-out;
	background-color: #e0f2f7;
  	border: 1px solid cyan;
  	border-radius: 8px;
}
.Input input:hover{
	background-color: #bde0ff;
}
.Input label{
	margin-bottom: 2px;
	padding: 0;
	display: block;
	font-weight: bold;
	text-align: left;
	color: black;
}


.Input span{
	display: block;
	text-align: left;
	margin-left: 0;
    color: red;
    font-family: tahoma, sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.Input.invalid label{
	margin-bottom: 2px;
	padding: 0;
	display: block;
	font-weight: bold;
	text-align: left;
	color: red;
}
.invalid {
	
	color: red;
}
.Auth .Input input{
	width: 50%;
}

