
.finishWideScreen, .endingScreen{
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  height: 400%;
  z-index: 2;
  opacity: 1; 
}
/*.finishWide{
  display: block;
  position: absolute;
  width: 95%;
  height: 95%;  
}*/
.finish {
  width: 50%;
  min-height: 270px;
  position: absolute;
 
 left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  
  padding-bottom: 9px;
  background-color: #e0f2f7;
  border: 8px solid cyan;
  border-radius: 29px;
}
.finish h4{
 /* font-family: 'NarbutClassicRegular';*/
  font-size: 19px;
  text-align: center;
}
/*.finish img{
  width: 200px;
  height: auto;
  display:block;
  margin: auto;
}*/
.finish p{
  text-indent: 1.1em;
  font-size: 14px;
  margin: 12px;
}
.finish button{
  width: 80%;
  height: 40px;
  display: block;
  margin: auto;
  margin-top: 40%;
  background-color: #bde0ff; 
  border-radius: 5px;
}
#result{
  font-size: 31px;
  font-weight: 700;
 
}
.finish span{
 /* font-family: 'NarbutClassicRegular';*/
  font-size: 28px;
  font-weight: 700;
  color: blue;
}
/*.stro{
  position: relative;
  width: 96%;
  height: 31px;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-color:  grey;
  border-radius: 5px;
  margin: 4px;
}
.stro__i{
  float:left;
  width: 5%;
  height: 100%;
  padding: 2px;
  font-size: 1.4em;

  text-align: center;
}
.stro__foto{
  position: relative;
  float:left;
  width: 12%;
  height: 100%;
}
.stro__foto img{
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
}
.stro__Answer{
  float:left;
  width: 71%;
  height: 100%;
  padding: 3px;
  font-size: 12px;
}
.stro__RatingName{
  width: 75%;
  font-family: sans-serif;
}
.stro__Rating{
  width: 8%;
  font-family: sans-serif;
  font-size: 1.0em;  
}*/

@media screen and (max-width: 616px) {
  body{ 
    background: linear-gradient(white, #a9f5f2, white, #a9f5f2, white);
  }
  .picture, .questions {
    width: 96%; 
    min-height: 288px;
  }
  h1{
    font-size: 1.0em;  
  }
 /* li{ 
    height: 32px; 
    margin: 2px;
  }
  .beginning, .ending {
    width: 76%;
  }*/
  /*.beginning p{
    font-size: 1.0em;
  }
  .stro__Answer{
    font-size: 8px; 
    padding: 1px 0 1px 5px;
    text-align: left;
  }
  .stro__i{
    font-size: 0.7em; 
    padding: 1px;
  }
  .ending button{
    font-size: 1.0em;  
  }
  .rating .stro{
    height: 19px;
  }
  .stro__RatingName, .stro__Rating{
    font-family: sans-serif;
    font-size: 0.5em;
  }*/
}
