.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  margin: 20px;
  padding: 0;
  background: #FFFFFF;
  font: normal .7em Tahoma, Arial, Helvetica, sans-serif;
  color: #5D413A;
}

form {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: Tahoma,  sans-serif;
  font-weight: normal;
  color: #BD4F21;
}
/*
p, blockquote, ol, ul {
  line-height: 100%;
}*/
/*
a {
  color: #7C8634;
}

a:hover {
  text-decoration: none;
  color: #BD4F21;
}*/

/* Boxed   */ 

.boxed{
 
  margin: 0 0 10px 0;
  padding: 0;
  background: #E0E3C9;
  border: 1px solid #939A3C;
}
.boxed2 {
  width: 198px;
  float: left;
  margin: 0 0 10px 0;
  padding: 0;
  background: #E0E3C9;
  border: 1px solid #939A3C;
}
.clearfix{
  clear: both;
}

.boxed .heading, .boxed2 .heading {
  margin: 4px;
  padding: 9px 10px;
  background-image: linear-gradient(to right, #5717AE , #412EC4);
  border-top: 2px solid #737947;
  border-bottom: 1px solid #F4F5EC;
  font: bold 18px Tahoma, Arial, Helvetica, sans-serif;
  color: white;
}
.boxed .heading{
  background-image: linear-gradient(to right, #412EC4 , #0261F0);
}

.boxed .content, .boxed2 .content {
  margin: 0;
  padding: 5px 14px 10px 14px;
  font-size: 12px;
}
.boxed .content {
  font-size: 16px;
}

.boxed ul, .boxed2 ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: normal;
}

.boxed a, .boxed2 a {
 text-decoration: none;
}

.boxed li, .boxed2 li {
  padding: 3px 0;
  border-top: 1px dotted #939A3C;
  text-align: left;
}

.boxed li.first, .boxed2 li.first {
  border: none;
}
.boxed li span{
  display: inline-block;
  width: 150px;
  margin-right: 55px;
  text-align: left;
}
/*
.boxed, .boxed2 a {
  padding-left: 10px;
  background: url(images/img4.gif) no-repeat left center;
  text-decoration: none;
}*/

/* Wrapper */

.wrapper {
  width: 1024px;
  margin: 0 auto;
  background-color: #f3ffcf;
}

/* Header */

.header {
  float: left;
  width: 198px;
  height: 110px;
  background-image: linear-gradient(to right, #5717AE , #412EC4);
}
.header a{
   text-decoration: none;
}
.header h1 {
  margin: 0;
  padding: 20px 0 0 0;
  text-align: center;
  letter-spacing: -1px;
  font-size: 3em;
  color: white;
}

.header h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
  color: white;
}
.headerRight{
  float: right;

}
/*
.header a {
  text-decoration: none;
  color: #BD4F21;
}
*/
/* Pages */
/*
.pages {
  float: right;
  width: 810px;
  height: 148px;
  background: url(images/img2.jpg);
  border: 1px solid #939A3C;
}

.pages h2 {
  display: none;
}

.pages ul {
  margin: 0;
  padding: 63px 0 0 0;
  list-style: none;
  line-height: normal;
}

.pages li {
  display: inline;
}

.pages a {
  padding-left: 2em;
  text-decoration: none;
  font: bold 3.0em Georgia, "Times New Roman", Times, serif;
  color: #FFFFFF;
}

.pages a:hover {
  text-decoration: underline;
}*/

/* Content */

.home, .results, .tests{
  clear: both;
  padding-top: 10px;
}

/* Archives */

.home .boxed {
  width: 386px;
  float: right;
  margin-right: 10px;
  padding: 0;
    background: #E0E3C9;
    border: 1px solid #939A3C;
}

.results .boxed {
  width: 800px;
    float: right;
  margin-right: 10px;
  padding: 0;
    background: #E0E3C9;
    border: 1px solid #939A3C;
}

.tests .boxed {
  width: 100%;
  margin: 0 auto;
 
    background: #E0E3C9;
    border: 1px solid #939A3C;
}

/* Posts */
/*
.posts {
  float: right;
  width: 412px;
}*/
/*
.post {
  padding-top: 10px;
}

.post .title {
  margin: 0;
  font-size: 3em;
}

.post .posted {
  margin-top: 0;
  font: normal .8em Tahoma, Arial, Helvetica, sans-serif;
  color: #999999;
}

.post .meta {
  margin: 2em 0 1em 0;
  border-top: 1px dotted #939A3C;
  font: normal .8em Tahoma, Arial, Helvetica, sans-serif;
  color: #999999;
}

.post .meta p {
  margin: 0;
}*/


/* Search */

#search {
}

#search .content {
  padding-bottom: 12px;
}

.textfield1 {
  width: 156px;
  padding: 5px 5px;
  border: 1px solid #939A3C;
  font: bold 1em Tahoma, Arial, Helvetica, sans-serif;
  color: #939A3C;
}

.submit1 {
  display: none;
}

/* Footer */

.footer {
  clear: both;
  font: normal .8em Tahoma, Arial, Helvetica, sans-serif;
  color: #999999;
}

.footer a {
  color: #999999;
}

.FinishedQuiz {
  margin: 0 auto; 
  position: relative; 
  max-width: 90%;
   background-color: #f3ffcf;
}
.FinishedQuiz ul {
  margin: 0 auto;
  max-width: 90%;

}
.FinishedQuiz ul li {
  margin: 20px;
  text-align: left;
  list-style-type: none;
  
}

.success{
  color: rgba(161, 240, 69, .7); 
}
.error{
  color: rgba(240, 87, 108, .7); 
}



.FinishedQuiz .AnswersList{
  list-style-type: none;
 
  padding: 10px;
  background-color: #eee;
  border-radius: 6px;
}

.FinishedQuiz .AnswerItem{
  position:relative;
  width: 95%;
  height: 22px;
  background-color: #e0f2f7;
  border: 1px solid cyan;
  border-radius: 8px;
  margin: 6px;
  padding: 4px 20px; 
  color: black;
  cursor: pointer;
 }
@media screen and (min-width: 1140px) {
  .wrapper {
  width: 1140px;
}
.header, .boxed, .boxed2 {
  width: 318px;
}
.header h2 {
  font-size: 1.4em;
}
.results .boxed {
  width: 807px;
  margin: 0;
}
 }
@media screen and (max-width: 1023px) {
.wrapper {
  width: 100%;
}
.header{
  float: right;
  width: 93%;
   height: 50px;
   background-image: linear-gradient(to right, #501FB6 , #045FEF);
   margin: 3px 0 ;
}
.headerRight{
  box-sizing: border-box;
  width: 100%;
   background: cyan;
  margin-bottom: 3px;
  
}
.header h1 {
  display: none;
  font-size: 14px;
}
.header h2 {
  display: inline-block;
  margin: 7px 0;
  padding-left: 10px;
  font-size: 1.6em;
  font-style: normal;
  text-transform: uppercase;
}


.home .boxed, .boxed2 {
  width: 49%;
  float: left;
  margin: 0 0 10px 0;
}
.tests .boxed .heading{
  background-image: linear-gradient(to right, #501FB6 , #0BABEF);
}
.boxed, .boxed .heading, .boxed2 .heading{
  background-image: linear-gradient(to right, #501FB6 , #0261F0);
  font-size: 16px;
}
.results .boxed{
  width: 59%;
  float: right;
  margin: 10px 0;
}
.results .boxed2{
  float: left;
  width: 39%;
  margin: 10px 0;
}
.boxed .content{
  font-size: 12px;
}
.boxed li span {
    width: 124px;
    margin-right: 5px;
    text-align: left;
}
}
@media screen and (max-width: 616px) {
.header h2 {
  font-size: 1.4em;
}
.home .boxed, .boxed2{
  width: 100%;
}
.boxed .heading, .boxed2 .heading{
  background-image: linear-gradient(to right, #501FB6 , #0BABEF);
}
}
