.Auth{
	display: flex;
	justify-content: center;
	background: linear-gradient(270deg, #cef2fe 0%, #59bfef 100%);
    width: 96%;
    padding: 47px 21px;
    margin: auto;
    z-index: 3;
}
 .Auth > div{
 	width: 100%;
 	max-width: 600px;
 	padding: 0 25px;
 }

 .Auth h1{
 	color: white;
 	text-align: center;
 }

 .AuthForm{
 	background: #efe;
 	box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
 	padding: 15px;
 	border-radius: 5px;
 }